* {
    box-sizing: border-box;
}

:root {
    /* Colors */
    --white: #f5f5f5;
    --black: #222222;
    --accent-bright: #74bcc5; /* medium aquamarine */
    --accent-dark: #54696d; /* slate gray */

    /* Font Sizing */
    --vw: 1vw;
    --measure: 60ch;
    font-size: calc(1rem + 1 * var(--vw));
    font-family: 'San Francisco Text', 'Open Sans', sans-serif;
    color: var(--black);

    /* Modular Scale */
    --ratio: 1.25;
    --s-7: calc(var(--s-6) / var(--ratio));
    --s-6: calc(var(--s-5) / var(--ratio));
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));
    --s6: calc(var(--s5) * var(--ratio));
    --s7: calc(var(--s6) * var(--ratio));
}

@media (min-width: 2000px) {
    :root {
        --vw: 20px;
    }
}

* {
    max-width: var(--measure);
}

html,
body,
div,
header,
nav,
main,
footer,
section {
    max-width: none;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
}

.vh95 {
    /* max-height: 95vh; */
}

.logo-container {
    background: var(--accent-bright);
    color: var(--white);
    text-align: center;
    padding-top: var(--s1);
    padding-bottom: var(--s0);
}

.logo-container > * {
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--s-1);
    margin-bottom: var(--s-1);
}

.logo-container > img {
    width: 60%;
    height: auto;
}

.logo-container > h1 {
    font-size: 8vw;
}

.info-container {
    z-index: -2;
    color: var(--white);
    text-align: center;
    position: relative;
    background-position: center;
    background: url('../img/info-bg-image.jpg'),
        linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 1)
        );
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 90%;
    padding-top: var(--s-5);
    padding-bottom: var(--s-5);
    padding-left: var(--s0);
    padding-right: var(--s0);
}

.info-container:before {
    z-index: -1;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.75;
    background: linear-gradient(to right, #24797c, #1d535b);
}

.info-container > * {
    margin-top: var(--s1);
    margin-bottom: var(--s1);
}

.info-container h3 {
    /* text alignmet precludes use of mod scale */
    font-size: var(--s3);
}

.info-container h2 {
    /* font-size: 20vw; */
    font-size: var(--s7);
}

.info-container .address {
    font-weight: bold;
    font-size: var(--s0);
}

.info-container .address span {
    font-weight: normal;
    /* text alignmet precludes use of mod scale */
    font-size: var(--s-1);
}

.call-to-action {
    color: var(--black);
    background: var(--white);
    padding-top: var(--s-5);
    padding-bottom: var(--s-5);

    /* implements a sidebar from every-layout */
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.call-to-action .largest {
    /* implements a sidebar from every-layout */
    flex-basis: 0;
    flex-grow: 999;
    min-width: 15rem;

    text-align: center;
    font-size: var(--s0);

    margin-bottom: var(--s0);
    margin-top: var(--s0);
}

.call-to-action .largest span {
    display: inline-block;
    margin: var(--s-5) auto;
    /* imitation mod scale b/c we need to use em not rem to make media queries easier */
    font-size: calc(var(--ratio) * var(--ratio) * var(--ratio) * 1em);
}

.call-to-action .buttons {
    /* implements a sidebar from every-layout */
    flex-basis: 10rem;
    flex-grow: 1;
    min-width: 9rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.call-to-action .buttons button {
    display: block;
    flex-grow: 0;
    /* padding: var(--s-5); */
    min-width: 8rem;
    margin: var(--s-5) var(--s-6);
    font-size: var(--s0);
    text-align: center;
}

button {
    white-space: nowrap;
    font-family: inherit;
    font-size: var(--s0);
    padding: var(--s-5) var(--s-2);
    font-weight: bold;
    display: inline-block;
    background: none;
    color: var(--accent-dark);
    border: solid 1px var(--accent-dark);
    transition: all 0.4s ease;
}

button:hover {
    cursor: pointer;
    color: var(--white);
    background: var(--accent-dark);
}

.Hackathon-background {
    background: url('../47517066461_24976f5b10_o.jpg'); /*This images is the background*/
    background-size: cover;
    height: 100vh;
    width: 100vw;
    text-align: center;
    position: relative;
}
.Hackathon-background .Hackathon-overlay {
    background: linear-gradient(
        to right,
        rgba(36, 121, 124, 0.75),
        rgba(29, 83, 91, 0.75)
    );
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: column;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}
.Hackathon-background .Hackathon-header {
    position: relative;
    top: calc(-1vh - 8%);
    width: 100vw;
    font-size: var(--s4);
}
.Hackathon-background .Hackathon-description {
    position: relative;
    top: calc(-1vh - 16%);
    font-weight: 100;
    width: 100vh;
    font-size: var(--s1);
}
.Hackathon-background .Hackathon-bottom-text {
    position: relative;
    top: calc(1vh + 2%);
    font-size: var(--s0);
    font-weight: 500;
    width: 50vw;
}

/* Tablet and desktop based breakpoints */
/* Use rem for breakpoints https://zellwk.com/blog/media-query-units/ */
/* Supposed to break around where the buttons move to the side */
@media (min-width: 35em) {
    .call-to-action {
        padding-left: var(--s3);
        padding-right: var(--s3);
        /* stretch the button box to match text height */
        align-items: stretch;
    }
    .call-to-action .largest {
        text-align: left;
    }
    .call-to-action .buttons {
        /* center the buttons */
        align-content: center;
    }
    .call-to-action .buttons button {
        min-width: 9rem;
        text-align: left;
    }
}
/* increaes font size of largest hackathon */
@media (min-width: 52em) {
    .call-to-action .largest {
        font-size: var(--s2);
    }
}

/* FAQ */
.faq-header {
    text-align: center;
    padding-bottom: 50px;
}

.faq-rectangle {
    float: left;
    margin-right: 15px;
    width: 34px;
    height: 84px;
    background: #74bdc6;
}

.faq-wrapper {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 35px 10px 10px 10px;
}

.text {
    border-left: 25px solid #74bdc6;
    display: inline-block;
    position: relative;

    font-size: 18pt;
    font-weight: bold;

    width: 40%;
    height: 70px;

    padding-left: 20px;
    padding-right: 50px;
    line-height: 70px;
    margin: 0 auto;

    text-align: left;
    vertical-align: middle;
}

.image {
    display: inline-block;
    text-align: right;
    float: right;
    vertical-align: middle;
    margin-top: 19px;
    width: 32px;
    height: 32px;
    background-image: url('../test.png');
    background-repeat: no-repeat;
    background-position: right;
}

/* Schedule */
section#schedule {
    margin: 0 auto;
    overflow: hidden;
    max-width: 80vw;
}
section#schedule > h1 {
    margin-top: 0.5em;
    margin-bottom: 0.7em;
    font-size: var(--s2);
}

/* Clock */
#clock {
    position: relative;
    float: left;
    width: 50%;
    padding-top: 50%;
}
#clock > .saturday,
#clock > .sunday {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transition: transform 0.5s;
}
#clock > .saturday {
    transform: translate(-50%, -50%) scale(1);
}
#clock > .sunday {
    transform: translate(-50%, -50%) scale(0.9);
}
#clock > .content {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-height: 50%;
}
#clock > .content > .day {
    margin: 0;
}
#clock > .content > .time {
    font-size: var(--s2);
    font-weight: 500;
    margin: 10px 0;
}
#clock > .content > .ev-name {
    font-size: 80%;
    font-weight: 500;
    margin: 0;
}
#clock > .content > .location {
    font-size: 80%;
    margin: 0;
    margin-top: 10px;
}
#hour-pointer,
#minute-pointer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 100%;
}
#hour-pointer > span,
#minute-pointer > span {
    width: 5%;
    padding-top: 11%;
    height: 100%;
    margin: 0 auto;
    display: block;
    transition: transform 0.5s;
}
#minute-pointer svg {
    transform: scale(0.5);
}

/* Schedule Table */
#schedule-table {
    position: relative;
    float: left;
    width: 50%;
    padding-top: 50%;
    font-size: var(--s-1);
}

#schedule-table header {
    color: black;
    text-align: center;
    margin-bottom: 15px;
}

#schedule-table > div {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    color: white;
    width: 80%;
}

#schedule-table > div.sunday {
    display: none;
}

#schedule-table table {
    width: 100%;
}

#schedule-table .container {
    overflow: hidden;
    max-height: calc(50vh + 2.5em);
    border-radius: 10px;
}

#schedule-table thead > tr {
    display: block;
}
#schedule-table tbody {
    display: block;
    max-height: 50vh;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
#schedule-table tbody > tr {
    cursor: pointer;
    transition: transform 0.5s, filter 0.5s;
}
#schedule-table tbody > tr.active {
    transform: scale(1.05);
}
#schedule-table tbody > tr.active {
    filter: brightness(1.15);
}

#schedule-table th:first-child,
#schedule-table td:first-child {
    text-align: right;
    white-space: nowrap;
}

#schedule-table th:last-child,
#schedule-table td:last-child {
    text-align: left;
}

#schedule-table th,
#schedule-table td {
    padding: 0.5em 1em;
    line-height: 1.2em;
}

#schedule-table th {
    background-color: var(--accent-dark);
}

#schedule-table td {
    background-color: var(--accent-bright);
}

#schedule-table td > span.location {
    margin-top: 10px;
    font-weight: lighter;
    display: none;
}

#schedule-table span.right,
#schedule-table span.left {
    display: inline-block;
    cursor: pointer;
    transition: transform 0.5s;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#schedule-table span.right {
    float: right;
}
#schedule-table span.right:hover {
    transform: translateX(5px);
}

#schedule-table span.left {
    float: left;
}
#schedule-table span.left:hover {
    transform: translateX(-5px);
}

#schedule-table .saturday span.left {
    transform: none;
    cursor: default;
    color: gray;
}
#schedule-table .sunday span.right {
    transform: none;
    cursor: default;
    color: gray;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: var(--accent-bright);
}

::-webkit-scrollbar-thumb {
    background: var(--accent-dark);
}

@media only screen and (max-width: 860px) {
    #clock {
        display: none;
    }
    #schedule-table {
        width: 100%;
        padding: 0 1em;
    }
    #schedule-table > div {
        position: relative;
        transform: none;
        width: 100%;
        left: 0;
    }
    #schedule-table tbody > tr {
        cursor: default;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
    #schedule-table tbody > tr:hover {
        transform: none;
    }
    #schedule-table tbody > tr.active {
        filter: none;
        transform: none;
    }
    #schedule-table td > span.location {
        display: block;
    }

    #schedule-table span.right:hover {
        transform: none;
    }

    #schedule-table span.left:hover {
        transform: none;
    }
}

#sponsors div,
#sponsors main,
#sponsors footer {
    align-items: center;
    flex-flow: column;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sponsors img {
    display: block;
    max-width: 100%;
    margin: auto;
    transition: 0.3s;
}

.row {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    max-width: var(--site-width);
    width: 100%;
}

.row > * {
    max-width: 100%;
}

.row > :not(:only-child) {
    padding: 1rem 0;
}

.row.columns-half > * {
    flex: 1 auto;
}

.row.columns-tiny > * {
    flex: 1 calc(90px + 8 * var(--vw));
    max-width: calc((90px + 8 * var(--vw)) * 1.25);
}

.row > * > * + * {
    margin-top: 0.6rem;
}

#sponsors img {
    max-height: calc(20px + 6 * var(--vw));
}

#sponsors {
    background: var(--white);
}

#sponsors h2 {
    color: var(--black);
    margin-bottom: 0;
    margin-top: 75px;
}

#sponsors a {
    margin-left: 1em;
    margin-right: 1em;
}

.row > * {
    max-width: 100%;
}

.row.columns-medium > * {
    flex: 1 calc(240px + 7 * var(--vw));
}

.row.columns-small > * {
    flex: 1 1 calc(130px + 10 * var(--vw));
    max-width: calc((130px + 10 * var(--vw)) * 1.352);
}

.row.columns-tiny > * {
    flex: 1 calc(90px + 8 * var(--vw));
    max-width: calc((90px + 8 * var(--vw)) * 1.25);
}

.row.columns-tinier > * {
    flex: 1 calc(80px + 5 * var(--vw));
    padding: 0.5rem;
    max-width: calc((80px + 5 * var(--vw)) * 1.5);
}

.row > * > * + * {
    margin-top: 1rem;
}
