@font-face {
    src: url('../fonts/AvenirLTStd-Roman.ttf');
    font-family: 'Avenir';
    font-weight: 300;
}

@font-face {
    src: url('../fonts/Blinker-Thin.ttf');
    font-family: 'Blinker';
    font-weight: 100;
}

@font-face {
    src: url('../fonts/Blinker-ExtraLight.ttf');
    font-family: 'Blinker';
    font-weight: 200;
}

@font-face {
    src: url('../fonts/Blinker-Light.ttf');
    font-family: 'Blinker';
    font-weight: 300;
}

@font-face {
    src: url('../fonts/Blinker-Regular.ttf');
    font-family: 'Blinker';
    font-weight: 400;
}
